# Installing Required Libraries

In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\user007\appdata\local\programs\python\python310\lib\site-packages (1.0.2)

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user007\appdata\local\programs\python\python310\lib\site-packages (1.5.0)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user007\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\user007\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user007\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user007\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

### Importing Required Libraries

In [3]:
import pymysql
import pandas as pd

### Creating Sql Connection by providing required host,user,password and database name

In [4]:
# Use your host,user,password and database name as you would have created or shared by the team
db=pymysql.connect(host="localhost",user="root",
                  password="xxxxxxxx",database="test")

### Creating a cursor object using the cursor() method

In [5]:
cursor=db.cursor()

### Executing query to fetch the data we required

In [6]:
cursor.execute("select * from students")

3

### Converting the data to dataframe

In [7]:
data=pd.DataFrame(cursor.fetchall())

### Getting columns to the dataframe

In [8]:
col=[]
for i in cursor.description:
    col.append(i[0])

In [9]:
data.columns=col

### Result

In [10]:
data

   ID   NAME  AGE      ADDRESS
0   1  nasir   26  Madanapalle
1   2  suhel   24    Bangalore
2   3  irfan   28       Kadapa

### Closing the connection

In [11]:
cursor.close()